* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .App {
    color: #72a24d;
    text-align: center;
    }
    h1 {
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    }

    .TodoWrapper {
        background-color: #fff;
        margin-top: 5rem;
        padding: 2rem;
        border-radius: 5px;
        }
        .TodoForm {
        width: 100%;
        margin-bottom: 1rem;
        }
        .todo-input {
        outline: none;
        background: none;
        border: 1px solid #94B9FF;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 300px;
        color: #000;
        }
        .todo-input::placeholder {
        color: #ffffff4d;
        }
        .todo-btn {
        background: #94B9FF;
        color: #fff;
        border: none;
        padding: 0.55rem;
        cursor: pointer;
        }
        .TodoList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #8758ff;
        color: #000;
        padding: 0.75rem 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        }
        
        .fa-trash {
            margin-right: 1.75rem;
            }
            .incompleted {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }
            .completed {
            color: #049404;
            text-decoration: line-through;
            cursor: pointer;
            }
            .completed button {

              text-decoration: none !important;

              }

            .buttons {
                display: flex;
                gap: 10px; /* Espaçamento entre os botões */
              }
              
              .delete-icon{
                cursor: pointer;
                background-color: #ff1616;
                color: #fff;
                border: none;
                padding: 0.55rem 1rem;
                text-decoration: none !important;
              }  
              
              .delete-icon:hover{
                cursor: pointer;
                background-color: #940e0e;
                color: #fff;
                border: none;
                padding: 0.55rem 1rem;
              } 
              
              .edit-icon {
                cursor: pointer;
                background-color: #45f300;
                color: #fff;
                border: none;
                padding: 0.55rem 1rem;
              }   

              .edit-icon:hover {
                cursor: pointer;
                background-color: #29720c;
                color: #fff;
                border: none;
                padding: 0.55rem 1rem;
              }   
            
            .Todo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #ccc;
                padding: 10px;
              }

              .todo-input,
                select {
                outline: none;
                background: none;
                border: 1px solid #94B9FF;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
                width: 300px;
                color: #000;
                }

                .todo-input::placeholder,
                select::placeholder {
                color: #ffffff4d;
                }

                .todo-btn {
                background: #94B9FF;
                color: #fff;
                border: none;
                padding: 0.55rem;
                cursor: pointer;
                }

                select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                }

                select:focus {
                border-color: #72a24d; /* Cor da borda ao focar */
                }

                select option {
                background-color: #fff;
                color: #000;
                }
